# The port this service will listen on
LISTEN_PORT=49202

# The directory where the WSDL (and any xsd includes) resides
WSDL_LOCATION=/opt/pos/doc/WSDL

# The WSDL file
WSDL=DrugPrice-v1_0.wsdl

# The route for the service (the URL path)
SERVICE_ROUTE=/drug_price_interactive/DrugPrice-v1_0

# The name of the service you're requesting
SERVICE_NAME=DRUG_PRICER

# The host the where the medcom broker is located
SERVICE_ROUTER_HOST=pos-service-router

# The port at which the medcom broker is listening
SERVICE_ROUTER_PORT=49500

# The time limit to wait for a response, in milliseconds
RESPONSE_TIMEOUT=25000

# The level of logging to emit
# Choices: INFO or TRACE
LOG_LEVEL=INFO