# PORT tells the router which port to listen on for client connections.
# Can be numeric or a service name listed in /etc/services.

PORT=49500

# MONITOR_PORT tells the router which port to listen on for runtime
# monitoring connections. This port outputs runtime stats for users
# who want to see what's going on internally.
# Can be numeric or a service name listed in /etc/services.

MONITOR_PORT=49501

# HEARTBEAT_LIVENESS is the number of times to check for a HEARTBEAT
# message from any service worker before assuming the worker is no
# longer alive. 3 - 5 is reasonable. If you have to set this to more than
# that, then your service is probably too slow and unresponsive.
# Default is 5.

HEARTBEAT_LIVENESS=10

# HEARTBEAT_INTERVAL is the time interval, in milliseconds, to wait between
# checking for heartbeats.
# Default is 2500 milliseconds.

HEARTBEAT_INTERVAL=6000

# LOG_LEVEL tells us how much info to display as it runs.
# The following levels are supported:
#
# OFF: Log nothing.
# ALL: Display  as much as possible.
# INFO: Only display exceptions and a small amount of data usefull
# for troubleshooting production.
# Default is INFO.

LOG_LEVEL=INFO


# LOG_FORMAT controls the format of the log entries written.
# See log4cplus documentation for help on format specifiers.
# Default is: %x|%D{%d%m%y|%H:%M:%S%q}|%-8p|%i|%m%n

LOG_FORMAT=%x|%D{%d%m%y|%H:%M:%S%q}|%-8p|%i|%m%n